{% for wyp in wyposazenie %}
<tr>
    <td class="border">{{ wyp.id }}</td>
    <td class="border">{{ wyp.nazwa }}</td>
    <td class="border">{{ wyp.wykonawca }}</td>
    <td class="border">{{ wyp.gatunek }}</td>
    <td class="border">{{ wyp.nosnik }}</td>
    <td class="border">{{ wyp.wydawnictwo }}</td>
    <td class="border">{{ wyp.wydano }}</td>
    <td><form hx-post="/delete" hx-target="#table-body" hx-swap="innerHTML">
            <input type="hidden" name="id" value="{{ wyp.id }}">
            <button type="submit" class="px-3 py-1 bg-blue-600 text-white ml-4">Usuń</button>
        </form>
    </td>
</tr>

{% endfor %}